
<h1 appHightlight>hello word</h1>


<div class=""> {{data | async}} </div>

<!--<div appHightlight class="scroll">-->
<!--<div class=""></div>-->
<!--</div>-->
<!--<p> {{title}} &#45;&#45; {{age}} __ {{anouar}} </p>-->
<!--<p> {{returnText()}}</p>-->
<!--<button (click)="changeTile()" >change title</button>-->
<!--<button (click)="changeAge()" >change age</button>-->
<!--<br/>-->
<!--<input type="text" [(ngModel)]="hobbies" placeholder="enter your hobbies" />-->
<!--<br/>-->

<!--&lt;!&ndash;ng if&ndash;&gt;-->
<!--<p *ngIf="hobbies !== '' then data else noData "></p>-->

<!--<ng-template #data>-->
<!--  my hobbies is  {{hobbies}}-->
<!--</ng-template>-->
<!--<ng-template #noData>-->
<!--  <h3>no hobbies</h3>-->
<!--</ng-template>-->

<!--<div app-users></div>-->
<!--&lt;!&ndash;<div id="app-home"></div>&ndash;&gt;-->

<!--<app-home></app-home>-->

<!--<app-users></app-users>-->

<!--<router-outlet></router-outlet>-->
