<!--<p>users works!</p>-->


<!--<h3>list users</h3>-->

<!--<ul>-->
<!--  <li *ngFor="let user of listUsers " [ngClass]="user.age> 20 ? '' : 'red' ">-->
<!--    mon nom <b>{{user.nom | titlecase }}</b>-->
<!--    ... et , prénom <b>{{user.prenom}} </b>-->
<!--    : j'ai <b>-->
<!--    <span [ngStyle]=" user.age> 20 ? {color:'green'} : {color:'red'}"  >-->
<!--      {{user.age}} ans-->
<!--    </span>  </b>-->
<!--  </li>-->
<!--</ul>-->

<!--<h3>nombre user active {{numberUserActive | power |  }}</h3>-->

<!--<h4> date now {{dateNow | date:'short'}}</h4>-->

<!--<h4> currency {{currency | currency: 'CAD' : 'symbol' : '4.2-2' : 'fr'}} </h4>-->

<!--<h4> users : <br/> {{listUsers | json}} </h4>-->

<!--<h4> time : {{time  | async}}</h4>-->


<!--<input type="number" [(ngModel)]="numbers"  />-->

<!--<div [ngSwitch]="numbers">-->
<!--  <p *ngSwitchCase="0"> zero </p>-->
<!--  <p *ngSwitchCase="1"> one </p>-->
<!--  <p *ngSwitchCase="2"> two </p>-->
<!--  <p *ngSwitchCase="3"> three </p>-->
<!--  <p *ngSwitchCase="4"> for </p>-->
<!--&lt;!&ndash;  <p *ngSwitchDefault> <app-home></app-home> </p>&ndash;&gt;-->
<!--</div>-->
